
<div *ngIf="baseAnswer">
    <h2><span jhiTranslate="jhipsterSmartAdminApp.baseAnswer.detail.title">Base Answer</span> {{baseAnswer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhipsterSmartAdminApp.baseAnswer.content">Content</span></dt>
        <dd>
            <span>{{baseAnswer.content}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSmartAdminApp.baseAnswer.result">Result</span></dt>
        <dd>
            <span>{{baseAnswer.result}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSmartAdminApp.baseAnswer.question">Question</span></dt>
        <dd>
            <div *ngIf="baseAnswer.questionId">
                <a [routerLink]="['/base-question-exam', baseAnswer.questionId]">{{baseAnswer.questionId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'base-answer-exam/'+ baseAnswer.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
