
<div *ngIf="baseQuestion">
    <h2><span jhiTranslate="jhipsterSmartAdminApp.baseQuestion.detail.title">Base Question</span> {{baseQuestion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhipsterSmartAdminApp.baseQuestion.name">Name</span></dt>
        <dd>
            <span>{{baseQuestion.name}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSmartAdminApp.baseQuestion.content">Content</span></dt>
        <dd>
            <span>{{baseQuestion.content}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSmartAdminApp.baseQuestion.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'jhipsterSmartAdminApp.QuestionType.' + baseQuestion.type}}">{{baseQuestion.type}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSmartAdminApp.baseQuestion.difficult">Difficult</span></dt>
        <dd>
            <span jhiTranslate="{{'jhipsterSmartAdminApp.QuestionDifficult.' + baseQuestion.difficult}}">{{baseQuestion.difficult}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSmartAdminApp.baseQuestion.courseId">Course Id</span></dt>
        <dd>
            <span>{{baseQuestion.courseId}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSmartAdminApp.baseQuestion.exposeTimes">Expose Times</span></dt>
        <dd>
            <span>{{baseQuestion.exposeTimes}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSmartAdminApp.baseQuestion.rightTimes">Right Times</span></dt>
        <dd>
            <span>{{baseQuestion.rightTimes}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSmartAdminApp.baseQuestion.wrongTimes">Wrong Times</span></dt>
        <dd>
            <span>{{baseQuestion.wrongTimes}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSmartAdminApp.baseQuestion.tips">Tips</span></dt>
        <dd>
            <span>{{baseQuestion.tips}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSmartAdminApp.baseQuestion.tags">Tags</span></dt>
        <dd>
            <span>{{baseQuestion.tags}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSmartAdminApp.baseQuestion.judgeResult">Judge Result</span></dt>
        <dd>
            <span>{{baseQuestion.judgeResult}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSmartAdminApp.baseQuestion.textResult">Text Result</span></dt>
        <dd>
            <span>{{baseQuestion.textResult}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'base-question-exam/'+ baseQuestion.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
