<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserAnswerStatisticsLabel" jhiTranslate="jhipsterSmartAdminApp.userAnswerStatistics.home.createOrEditLabel">Create or edit a User Answer Statistics</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!userAnswerStatistics.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="userAnswerStatistics.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSmartAdminApp.userAnswerStatistics.userId" for="field_userId">User Id</label>
            <input type="number" class="form-control" name="userId" id="field_userId"
                [(ngModel)]="userAnswerStatistics.userId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSmartAdminApp.userAnswerStatistics.rightTimes" for="field_rightTimes">Right Times</label>
            <input type="number" class="form-control" name="rightTimes" id="field_rightTimes"
                [(ngModel)]="userAnswerStatistics.rightTimes" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSmartAdminApp.userAnswerStatistics.wrongTimes" for="field_wrongTimes">Wrong Times</label>
            <input type="number" class="form-control" name="wrongTimes" id="field_wrongTimes"
                [(ngModel)]="userAnswerStatistics.wrongTimes" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSmartAdminApp.userAnswerStatistics.continuousRightTimes" for="field_continuousRightTimes">Continuous Right Times</label>
            <input type="number" class="form-control" name="continuousRightTimes" id="field_continuousRightTimes"
                [(ngModel)]="userAnswerStatistics.continuousRightTimes" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSmartAdminApp.userAnswerStatistics.continuousWrongTimes" for="field_continuousWrongTimes">Continuous Wrong Times</label>
            <input type="number" class="form-control" name="continuousWrongTimes" id="field_continuousWrongTimes"
                [(ngModel)]="userAnswerStatistics.continuousWrongTimes" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSmartAdminApp.userAnswerStatistics.question" for="field_question">Question</label>
            <select class="form-control" id="field_question" name="question" [(ngModel)]="userAnswerStatistics.questionId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="baseQuestionOption.id" *ngFor="let baseQuestionOption of basequestions; trackBy: trackBaseQuestionById">{{baseQuestionOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
