<div>
    <h2>
        <span jhiTranslate="jhipsterSmartAdminApp.userAnswerStatistics.home.title">User Answer Statistics</span>
        <button class="btn btn-primary float-right jh-create-entity create-user-answer-statistics-exam" [routerLink]="['/', { outlets: { popup: ['user-answer-statistics-exam-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhipsterSmartAdminApp.userAnswerStatistics.home.createLabel">
            Create new User Answer Statistics
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="userAnswerStatistics">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userId"><span jhiTranslate="jhipsterSmartAdminApp.userAnswerStatistics.userId">User Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rightTimes"><span jhiTranslate="jhipsterSmartAdminApp.userAnswerStatistics.rightTimes">Right Times</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="wrongTimes"><span jhiTranslate="jhipsterSmartAdminApp.userAnswerStatistics.wrongTimes">Wrong Times</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="continuousRightTimes"><span jhiTranslate="jhipsterSmartAdminApp.userAnswerStatistics.continuousRightTimes">Continuous Right Times</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="continuousWrongTimes"><span jhiTranslate="jhipsterSmartAdminApp.userAnswerStatistics.continuousWrongTimes">Continuous Wrong Times</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="questionId"><span jhiTranslate="jhipsterSmartAdminApp.userAnswerStatistics.question">Question</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userAnswerStatistics of userAnswerStatistics ;trackBy: trackId">
                <td><a [routerLink]="['../user-answer-statistics-exam', userAnswerStatistics.id ]">{{userAnswerStatistics.id}}</a></td>
                <td>{{userAnswerStatistics.userId}}</td>
                <td>{{userAnswerStatistics.rightTimes}}</td>
                <td>{{userAnswerStatistics.wrongTimes}}</td>
                <td>{{userAnswerStatistics.continuousRightTimes}}</td>
                <td>{{userAnswerStatistics.continuousWrongTimes}}</td>
                <td>
                    <div *ngIf="userAnswerStatistics.questionId">
                        <a [routerLink]="['../base-question-exam', userAnswerStatistics.questionId  ]" >{{userAnswerStatistics.questionId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../user-answer-statistics-exam', userAnswerStatistics.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-answer-statistics-exam/'+ userAnswerStatistics.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-answer-statistics-exam/'+ userAnswerStatistics.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="userAnswerStatistics && userAnswerStatistics.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
