<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserAnswerLabel" jhiTranslate="jhipsterSmartAdminApp.userAnswer.home.createOrEditLabel">Create or edit a User Answer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!userAnswer.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="userAnswer.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSmartAdminApp.userAnswer.userId" for="field_userId">User Id</label>
            <input type="number" class="form-control" name="userId" id="field_userId"
                [(ngModel)]="userAnswer.userId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSmartAdminApp.userAnswer.judgeAnswer" for="field_judgeAnswer">Judge Answer</label>
            <input type="checkbox" class="form-control" name="judgeAnswer" id="field_judgeAnswer"
                [(ngModel)]="userAnswer.judgeAnswer" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSmartAdminApp.userAnswer.textAnswer" for="field_textAnswer">Text Answer</label>
            <textarea class="form-control" name="textAnswer" id="field_textAnswer"
                [(ngModel)]="userAnswer.textAnswer" ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSmartAdminApp.userAnswer.choiceAnswerIds" for="field_choiceAnswerIds">Choice Answer Ids</label>
            <input type="text" class="form-control" name="choiceAnswerIds" id="field_choiceAnswerIds"
                [(ngModel)]="userAnswer.choiceAnswerIds" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSmartAdminApp.userAnswer.result" for="field_result">Result</label>
            <input type="checkbox" class="form-control" name="result" id="field_result"
                [(ngModel)]="userAnswer.result" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSmartAdminApp.userAnswer.question" for="field_question">Question</label>
            <select class="form-control" id="field_question" name="question" [(ngModel)]="userAnswer.questionId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="baseQuestionOption.id" *ngFor="let baseQuestionOption of basequestions; trackBy: trackBaseQuestionById">{{baseQuestionOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
