
<div *ngIf="userAnswer">
    <h2><span jhiTranslate="jhipsterSmartAdminApp.userAnswer.detail.title">User Answer</span> {{userAnswer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhipsterSmartAdminApp.userAnswer.userId">User Id</span></dt>
        <dd>
            <span>{{userAnswer.userId}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSmartAdminApp.userAnswer.judgeAnswer">Judge Answer</span></dt>
        <dd>
            <span>{{userAnswer.judgeAnswer}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSmartAdminApp.userAnswer.textAnswer">Text Answer</span></dt>
        <dd>
            <span>{{userAnswer.textAnswer}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSmartAdminApp.userAnswer.choiceAnswerIds">Choice Answer Ids</span></dt>
        <dd>
            <span>{{userAnswer.choiceAnswerIds}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSmartAdminApp.userAnswer.result">Result</span></dt>
        <dd>
            <span>{{userAnswer.result}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSmartAdminApp.userAnswer.question">Question</span></dt>
        <dd>
            <div *ngIf="userAnswer.questionId">
                <a [routerLink]="['/base-question-exam', userAnswer.questionId]">{{userAnswer.questionId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-answer-exam/'+ userAnswer.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
